<h1>Actualité</h1>

<p>Voici les dernières actus:</p>

<?php foreach ($news as $new): ?>
    <h2><?php echo $new['title'] ?></h2>
    <p><?php echo $new['content'] ?></p>
<?php endforeach; ?>

<h2>Visiter mes autres pages:</h2>