<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header style="background-color: aquamarine;padding: 50px">MON HEADER</header>
    <nav style="background-color: #7fc5af;padding: 10px">
        <ul style="display: flex; gap: 20px">
            <li><a href="./index.php?page=main::home">Accueil</a></li>
            <li><a href="./index.php?page=main::actu">Actualités</a></li>
            <li><a href="./index.php?page=main::about">A propos</a></li>
        </ul>
    </nav>
    <div style="background-color: #57e0a0">
        <?= /** @var string $content */ $content ?>
    </div>
    <footer style="background-color: #104635;padding: 50px;color: white">MON FOOTER</footer>
</body>
</html>